html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption, table th, table td {
  text-align: left;
  vertical-align: middle;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

/*fonts*/
@font-face {
  font-family: Futura-demi;
  src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}
@font-face {
  font-family: Futura-medium;
  src: url("../fonts/FuturaPTMedium.otf") format("opentype");
}
@font-face {
  font-family: Futura-book;
  src: url("../fonts/FuturaPTBook.otf") format("opentype");
}
@font-face {
  font-family: Futura-light;
  src: url("../fonts/FuturaPTLight.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.hidden {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}

html, body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 1024px) {
  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

@media only screen and (max-width: 1024px) {
  .scrollContent {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}

.wrapper {
  margin: 0 auto;
}

.forAnimation {
  width: 50px;
}
@media only screen and (max-width: 767px) {
  .forAnimation {
    width: 30px;
  }
}

.rotateAnimation {
  transform-origin: center;
  animation: rotate 2s cubic-bezier(0.21, 0.92, 0.32, 1.09) forwards 1s;
  -webkit-animation: rotate 2s cubic-bezier(0.21, 0.92, 0.32, 1.09) forwards 1s;
}

.logotext {
  width: 170px;
  margin-left: 7px;
  margin-top: 13px;
  height: 23px;
}
@media only screen and (max-width: 767px) {
  .logotext {
    width: 118px;
    margin-top: 7px;
    height: 15px;
  }
}

.load {
  background-image: url(../images/balonas.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.header {
  background-color: #f7f7f7;
  box-shadow: 0 20px 50px 10px #f7f7f7;
  -moz-box-shadow: 0 20px 50px 10px #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.header__logo {
  width: 230px;
  float: left;
  margin-top: 5px;
  margin-left: 30px;
  height: 54px;
}
.header__logo svg {
  float: left;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    width: 160px;
    margin-left: 18.5px;
    height: 34px;
  }
}
.header__rightSection {
  float: right;
  position: relative;
}
.header .wrapper {
  padding: 15.5px 0;
}
@media only screen and (max-width: 767px) {
  .header .wrapper {
    padding: 10.5px 0;
  }
}
.header-white {
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.nav {
  margin-top: 12px;
  margin-right: 135px;
}
@media only screen and (max-width: 1024px) {
  .nav {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    transition: transform 0.5s ease;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(99, 100, 102, 0.95);
    margin: 0;
    z-index: 2;
    padding-bottom: 165px;
  }
  .nav .navList {
    margin-top: 165px;
  }
  .nav .navList__item {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 80px;
  }
  .nav .navList__item:last-child {
    margin-bottom: 0;
  }
  .nav .navList__item a {
    color: #f7f7f7;
  }
}
@media only screen and (max-width: 767px) {
  .nav {
    padding-bottom: 85px;
  }
  .nav .navList {
    margin-top: 85px;
  }
  .nav .navList__item {
    margin-bottom: 40px;
  }
  .nav .navList__item a {
    font-size: 1.1rem;
  }
}

.nav-open {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.contactsBubbleHide {
  display: none;
}

.responsiveMenu {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -17px;
  right: 0;
  display: none;
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  .responsiveMenu {
    width: 60px;
    height: 60px;
    top: -11px;
  }
}
@media only screen and (max-width: 1024px) {
  .responsiveMenu {
    display: block;
  }
}
.responsiveMenu span {
  width: 23px;
  height: 4px;
  background-color: #636466;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.3s;
}
@media only screen and (max-width: 767px) {
  .responsiveMenu span {
    width: 16px;
    height: 3px;
  }
}
.responsiveMenu .top {
  top: 35px;
}
@media only screen and (max-width: 767px) {
  .responsiveMenu .top {
    top: 21px;
  }
}
.responsiveMenu .mid {
  top: 43px;
}
@media only screen and (max-width: 767px) {
  .responsiveMenu .mid {
    top: 27px;
  }
}
.responsiveMenu .bot {
  top: 51px;
}
@media only screen and (max-width: 767px) {
  .responsiveMenu .bot {
    top: 33px;
  }
}

.responsiveMenuForm {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  .responsiveMenuForm {
    display: block;
  }
}
.responsiveMenuForm span {
  width: 16px;
  height: 3px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.3s;
  top: 27px;
}
.responsiveMenuForm .top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.responsiveMenuForm .bot {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.responsiveMenuOpen .mid {
  display: none;
}
.responsiveMenuOpen .top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.responsiveMenuOpen .bot {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.responsiveMenuOpen .top, .responsiveMenuOpen .bot {
  top: 43px;
  background-color: #bababa;
}
@media only screen and (max-width: 767px) {
  .responsiveMenuOpen .top, .responsiveMenuOpen .bot {
    top: 28px;
    background-color: #fff;
  }
}

.rightSection {
  font-family: 'Futura-demi', sans-serif;
}
.rightSection__nav {
  float: left;
}
.rightSection__lang {
  position: absolute;
  right: 0;
  top: -17px;
  padding: 28px 16.5px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: border-left-color 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .rightSection__lang {
    right: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .rightSection__lang {
    padding: 14.5px 1.5px;
    top: -11px;
    right: 60px;
  }
}
.rightSection__lang-hover {
  border-left-color: #e4e4e5;
  border-right-color: #e4e4e5;
}
.rightSection__lang-hover .langList {
  display: block;
}
.rightSection__lang:hover {
  cursor: pointer;
}

.navList__item {
  display: inline-block;
  margin-right: 45px;
}
.navList__item:last-child {
  margin-right: 0;
}

.lang__current {
  font-size: 14px;
  line-height: 1;
  color: #636466;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  width: 55px;
}
@media only screen and (max-width: 767px) {
  .lang__current {
    font-size: 0.96rem;
  }
}
.lang__current:after {
  content: '';
  margin-left: 8px;
  margin-bottom: 3px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid transparent;
  border-right-color: #f15a55;
  border-bottom-color: #f15a55;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navList .active a {
  color: #f15a55;
}

.langList, .navList {
  list-style-type: none;
}
.langList a, .navList a {
  font-size: 14px;
  line-height: 1;
  color: #636466;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  letter-spacing: 0.5px;
  transition: color 0.2s ease-in-out;
}
.langList a:hover, .navList a:hover {
  color: #f15a55;
}

.langList {
  display: none;
  position: absolute;
  left: -1px;
  top: 90px;
  background-color: #fff;
  border: 1px solid #e4e4e5;
}
@media only screen and (max-width: 767px) {
  .langList {
    top: 60px;
  }
}
.langList li {
  padding: 25px 24.6px;
  border-bottom: 1px solid #e4e4e5;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 767px) {
  .langList li {
    padding: 15px 12.3px;
  }
  .langList li a {
    font-size: 0.96rem;
  }
}
.langList li:last-child {
  border: none;
}
.langList li:hover {
  background-color: #f15a55;
}
.langList li:hover a {
  color: #fff;
}
.langList .active {
  background-color: #f15a55;
}
.langList .active a {
  color: #fff;
}

.secondSlides {
  width: 100%;
  height: 300vh;
  background-image: url(../images/balonas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.secondSlides__row {
  height: 100vh;
  position: relative;
}

.bubbles {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 20px;
  z-index: 1;
  box-shadow: 0 0 50px 25px #fff, inset 0 0 160px #fff;
  width: 10px;
  height: 105px;
}
@media only screen and (max-width: 767px) {
  .bubbles {
    left: 14px;
    box-shadow: none;
    height: 65px;
  }
}
.bubbles__item {
  width: 10px;
  height: 10px;
  background-color: #636466;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}
@media only screen and (max-width: 767px) {
  .bubbles__item {
    width: 6px;
    height: 6px;
    margin-bottom: 13px;
  }
}
.bubbles__item:last-child {
  margin-bottom: 0;
}
.bubbles__item:hover {
  background-color: #f15a55;
  cursor: pointer;
}
.bubbles__active {
  background-color: #f15a55;
}

.contactsBubble {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #df524d;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .contactsBubble {
    display: none;
  }
}
.contactsBubble:hover {
  background-color: #f15a55;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.contactsBubble svg {
  width: 26px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.contactsBubble span {
  width: 23px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  left: 0;
  right: 0;
  top: 25px;
  margin: 0 auto;
  position: absolute;
  display: none;
}
.contactsBubble .top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.contactsBubble .bot {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bubbleLower {
  z-index: 0;
}

.contactsBubbleOpen {
  background-color: #636466;
}
.contactsBubbleOpen:hover {
  background-color: #505153;
}
.contactsBubbleOpen svg {
  display: none;
}
.contactsBubbleOpen span {
  display: block;
}

.sliderPage {
  height: 100vh;
  overflow: hidden;
}
.sliderPage .wrapper {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.slidesWrapper {
  height: 100vh;
}
.slidesWrapper .slide {
  width: 100%;
}

.innerWrapper {
  width: 720px;
  height: 72vh;
  min-height: 500px;
  background-color: rgba(241, 90, 85, 0.9);
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 75px;
  box-shadow: -5px 5px 10px rgba(99, 100, 102, 0.2);
}
@media only screen and (max-width: 1024px) {
  .innerWrapper {
    width: 555px;
    height: 46vh;
    padding: 0 60px;
  }
}
@media only screen and (max-width: 767px) {
  .innerWrapper {
    top: 60px;
    width: 250px;
    height: 71vh;
    padding: 0 25px;
    min-height: 345px;
  }
}
.innerWrapper__title {
  font-family: 'Futura-medium', sans-serif;
  font-size: 7.2rem;
  color: #fff;
  font-weight: 500;
  color: #f7f7f7;
  text-align: center;
  line-height: 1;
  margin-top: 11.8vh;
  margin-bottom: 5vh;
}
@media only screen and (max-width: 1024px) {
  .innerWrapper__title {
    font-size: 5.5rem;
    margin-top: 7.8vh;
    margin-bottom: 2.4vh;
  }
}
@media only screen and (max-width: 767px) {
  .innerWrapper__title {
    font-size: 2.5rem;
    margin-top: 8.3vh;
    margin-bottom: 2vh;
  }
}
.innerWrapper__title-red {
  color: #f15a55;
}
.innerWrapper__line {
  fill: #fff;
  width: 235px;
  display: block;
  margin: 0 auto;
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .innerWrapper__line {
    width: 80px;
  }
}
.innerWrapper__line-grey {
  fill: #636466;
}
.innerWrapper__text {
  font-family: 'Futura-book', sans-serif;
  font-size: 2rem;
  line-height: 3.4rem;
  color: #f7f7f7;
  text-align: center;
  margin-top: 6.1vh;
}
@media only screen and (max-width: 1024px) {
  .innerWrapper__text {
    margin-top: 3.9vh;
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
}
@media only screen and (max-width: 767px) {
  .innerWrapper__text {
    margin-top: 4.1vh;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
.innerWrapper__text-grey {
  color: #636466;
}
.innerWrapper__mouse {
  position: absolute;
  bottom: 2.8vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 22px;
  height: 55px;
}
@media only screen and (max-width: 1024px) {
  .innerWrapper__mouse {
    width: 2.4vh;
  }
}
@media only screen and (max-width: 767px) {
  .innerWrapper__mouse {
    width: 12px;
    bottom: 3.1vh;
  }
}
.innerWrapper .mouseAnimation {
  animation: 1s mouse forwards;
  -webkit-animation: 1s mouse forwards;
}
.innerWrapper-white {
  background-color: rgba(255, 255, 255, 0.95);
}
.innerWrapper .contactButton {
  background-color: #f15a55;
  color: #fefefe;
  font-family: 'Futura-medium', sans-serif;
  width: 190px;
  padding: 22px 0;
  text-align: center;
  line-height: 1;
  font-size: 1.4rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: background 0.3s ease;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .innerWrapper .contactButton {
    bottom: 7.2vh;
    font-size: 1.1rem;
    padding: 14.5px 0;
    width: 145px;
  }
}
@media only screen and (max-width: 1024px) {
  .innerWrapper .contactButton {
    bottom: 6.8vh;
  }
}
.innerWrapper .contactButton:hover {
  background-color: #df524d;
  cursor: pointer;
}

.innerPage {
  background-color: #f7f7f7;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.innerPage__leftSection, .innerPage__rightSection {
  width: 50%;
  float: left;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 90px);
  margin-top: 90px;
}
@media only screen and (max-width: 1024px) {
  .innerPage__leftSection, .innerPage__rightSection {
    width: 100%;
    height: calc(100vh - 60px);
  }
}
@media only screen and (max-width: 767px) {
  .innerPage__leftSection, .innerPage__rightSection {
    margin-top: 60px;
  }
}
.innerPage__rightSection {
  background-color: #fff;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .innerPage__rightSection {
    right: 0;
    transition: transform 0.5s ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f7f7f7;
  }
}
.innerPage__leftSection {
  left: 0;
  padding-bottom: 55px;
}
@media only screen and (max-width: 1024px) {
  .innerPage__leftSection {
    left: 0;
    padding-right: 0;
  }
}

.rightSection #wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 66%;
}
.rightSection iframe {
  width: 100%;
  height: 100%;
}
.rightSection .scroll {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.rightSection__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}
.rightSection__arrow {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transition: background 0.3s ease;
  display: none;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@media only screen and (max-width: 767px) {
  .rightSection__arrow {
    width: 35px;
    height: 35px;
  }
}
.rightSection__arrow-left {
  left: 25px;
}
@media only screen and (max-width: 767px) {
  .rightSection__arrow-left {
    left: 12px;
  }
}
.rightSection__arrow-right {
  right: 25px;
}
@media only screen and (max-width: 767px) {
  .rightSection__arrow-right {
    right: 12px;
  }
}
.rightSection__arrow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
}
.rightSection .hasMoreWhenOne {
  display: block;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.arrow__spike {
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-bottom-color: #636466;
  border-left-color: #636466;
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow__spike-right {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  left: -5px;
}
@media only screen and (max-width: 767px) {
  .arrow__spike-right {
    left: -1px;
  }
}
@media only screen and (max-width: 767px) {
  .arrow__spike {
    width: 6px;
    height: 6px;
    border: 1px solid transparent;
    border-bottom-color: #636466;
    border-left-color: #636466;
    left: 1px;
  }
}

@media only screen and (max-width: 1024px) {
  .show-artice {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.pageWrapper {
  width: 77%;
  max-width: 555px;
  margin: 0 auto;
}
.pageWrapper__title {
  margin-top: 55px;
  color: #f15a55;
  font-size: 1.4rem;
  line-height: 1;
  border-bottom: 1px solid #f15a55;
  padding-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Futura-demi', sans-serif;
  letter-spacing: 1px;
}
@media only screen and (max-width: 767px) {
  .pageWrapper__title {
    margin-top: 35px;
  }
}
.pageWrapper__grid {
  margin-top: 55px;
}
@media only screen and (max-width: 767px) {
  .pageWrapper__grid {
    margin-top: 25px;
  }
}
.pageWrapper__date {
  font-size: 1.8rem;
  line-height: 1;
  font-family: 'Futura-light', sans-serif;
  color: #636466;
}
@media only screen and (max-width: 767px) {
  .pageWrapper__date {
    font-size: 1.2rem;
  }
}
.pageWrapper__articleTitle {
  font-size: 3.6rem;
  color: #636466;
  font-family: 'Futura-demi', sans-serif;
  line-height: 1;
  margin-top: 34px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .pageWrapper__articleTitle {
    font-size: 2.6rem;
  }
}
.pageWrapper__text {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #636466;
  font-family: 'Futura-book', sans-serif;
}
@media only screen and (max-width: 767px) {
  .pageWrapper__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.pageWrapper__back {
  text-transform: uppercase;
  border: 1px solid #f15a55;
  width: 140px;
  padding: 20px 0;
  text-align: center;
  font-family: 'Futura-medium', sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  color: #f15a55;
  margin-top: 60px;
  display: none;
  background-color: #f7f7f7;
  transition: background-color 0.3s;
  cursor: pointer;
}
.pageWrapper__back:hover {
  background-color: #fff;
}
@media only screen and (max-width: 1024px) {
  .pageWrapper__back {
    display: block;
  }
}
.pageWrapper__back svg {
  width: 14px;
  fill: #f15a55;
  margin-right: 17px;
}

.rightSectionWrapper {
  padding: 55px 0;
}

.grid__item-active .rightItem__date, .grid__item-active .rightItem__text {
  color: #f15a55;
}

.item {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .item {
    background-color: #fff;
  }
}
.item:hover {
  cursor: pointer;
}
.item:hover .rightItem__date, .item:hover .rightItem__text {
  color: #f15a55;
}
.item:last-child {
  margin-bottom: 0;
}
.item__img, .item__rightItem {
  width: 47.5%;
  float: left;
}
@media only screen and (max-width: 767px) {
  .item__img, .item__rightItem {
    width: 100%;
  }
}
.item__rightItem {
  padding: 20px;
}
.item__img {
  margin-right: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 29%;
}
@media only screen and (max-width: 767px) {
  .item__img {
    padding-bottom: 66%;
    margin-right: 0;
  }
}

.rightItem__date {
  font-size: 1.4rem;
  color: #636466;
  line-height: 1;
  font-family: 'Futura-light', sans-serif;
  transition: 0.3s color ease;
}
@media only screen and (max-width: 767px) {
  .rightItem__date {
    font-size: 1rem;
  }
}
.rightItem__text {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #636466;
  font-family: 'Futura-book', sans-serif;
  transition: 0.3s color ease;
}
@media only screen and (max-width: 767px) {
  .rightItem__text {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.teamPage {
  min-height: 100vh;
  background-color: #f7f7f7;
  position: relative;
  padding-bottom: 65px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .teamPage {
    padding-bottom: 40px;
  }
}
.teamPage__ballon {
  width: 18%;
  padding-bottom: 33%;
  background-position: center;
  background-image: url(../images/vyras.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 35vh;
  left: -4%;
  transition: transform 0.6s ease;
}
.teamPage__ballon-right {
  background-image: url(../images/moteris.png);
  top: 80px;
  right: -3%;
  left: auto;
}
.teamPage__teamPageWrapper {
  max-width: 950px;
  width: 71%;
  margin: 0 auto;
  padding-top: 153px;
}
@media only screen and (max-width: 767px) {
  .teamPage__teamPageWrapper {
    padding-top: 100px;
  }
}

.aboutText {
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .aboutText {
    width: 100%;
  }
}
.aboutText__title {
  font-size: 3.6rem;
  color: #636466;
  font-family: 'Futura-demi', sans-serif;
  margin-bottom: 26px;
}
@media only screen and (max-width: 767px) {
  .aboutText__title {
    font-size: 2.6rem;
    margin-bottom: 15px;
  }
}
.aboutText__author {
  font-size: 1.8rem;
  line-height: 1;
  color: #636466;
  font-family: 'Futura-light', sans-serif;
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .aboutText__author {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
}
.aboutText svg {
  fill: #f15f5a;
  width: 40px;
  margin-bottom: 18px;
}
@media only screen and (max-width: 767px) {
  .aboutText svg {
    margin-bottom: 14px;
  }
}
.aboutText__text {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #636466;
  font-family: 'Futura-book', sans-serif;
}
@media only screen and (max-width: 767px) {
  .aboutText__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.teamGrid {
  margin-top: 100px;
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .teamGrid {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 767px) {
  .teamGrid {
    margin-top: 55px;
  }
}
.teamGrid__tmItem {
  width: 23%;
  margin-right: 15%;
  margin-bottom: 45px;
}
.teamGrid__tmItem:nth-child(3n+3) {
  margin-right: 0;
}
@media only screen and (max-width: 1024px) {
  .teamGrid__tmItem {
    width: 41%;
    margin-right: 18%;
    margin-bottom: 40px;
  }
  .teamGrid__tmItem:nth-child(3n+3) {
    margin-right: 18%;
  }
  .teamGrid__tmItem:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .teamGrid__tmItem {
    width: 100%;
    margin-right: 0;
    margin-bottom: 55px;
  }
  .teamGrid__tmItem:nth-child(3n+3) {
    margin-right: 0%;
  }
  .teamGrid__tmItem:nth-child(2n+2) {
    margin-right: 0;
  }
}

.tmItem__imgContainer {
  width: 165px;
  height: 165px;
  background-color: #fff;
  border-radius: 50%;
}

.imgContainer {
  overflow: hidden;
  margin: 0 auto;
}
.imgContainer__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  margin-top: 10px;
}

.textContainer {
  text-align: center;
}
.textContainer__name {
  font-size: 1.8rem;
  line-height: 1;
  color: #636466;
  font-family: 'Futura-demi', sans-serif;
  margin-bottom: 8px;
  margin-top: 30px;
}
.textContainer__position {
  font-size: 1.2rem;
  color: #f15a55;
  line-height: 1;
  font-family: 'Futura-light', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 23px;
}
.textContainer__text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #636466;
  font-family: 'Futura-book', sans-serif;
}

.contactPage {
  background-color: #f7f7f7;
  min-height: 100vh;
}
.contactPage__contactLeftSection {
  width: 50%;
  float: left;
  padding-bottom: 80px;
  padding-top: 153px;
}
@media only screen and (max-width: 1024px) {
  .contactPage__contactLeftSection {
    width: 100%;
    padding-top: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .contactPage__contactLeftSection {
    padding-top: 60px;
  }
}

.form-message {
  font-family: 'Futura-light', sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
  padding: 10px;
  background-color: #adadae;
  width: 275px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -58px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .form-message {
    width: 250px;
    top: -44px;
    font-size: 1.4rem;
  }
}
.form-message-white {
  background-color: rgba(173, 173, 174, 0.5);
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  #map {
    position: relative;
    width: 100%;
    padding-bottom: 66.4%;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  #map {
    margin-bottom: 35px;
  }
}

.slide {
  height: 100vh;
}

.slide-1 {
  /*background-image: url(../images/balonas.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f7f7f7;*/
}

.bigBallonImg {
  width: 100%;
  height: 100vh;
  background-image: url(../images/balonas.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #f7f7f7;
  transition: background-size 1s ease-in-out;
  transform-origin: center 0;
}

.showBigBallon {
  background-size: cover;
  background-position: center 0;
  transition: background-position 0.7s;
}

.infoRow:first-child {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .infoRow:first-child {
    margin-bottom: 25px;
  }
}
.infoRow__title, .infoRow__text {
  font-size: 3.6rem;
  line-height: 5rem;
  color: #636466;
}
@media only screen and (max-width: 767px) {
  .infoRow__title, .infoRow__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.infoRow__title {
  float: left;
  font-family: 'Futura-demi', sans-serif;
}
.infoRow__text {
  float: right;
  max-width: 305px;
  width: 65%;
  text-align: right;
  font-family: 'Futura-light', sans-serif;
}
.infoRow__text-red {
  color: #f15a55;
}

.form {
  width: 100%;
  margin-top: 145px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .form {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .form {
    margin-top: 65px;
  }
}
.form .input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-family: 'Futura-light', sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  border-bottom: 1px solid #e4e4e5;
  color: #636466;
  transition: border-bottom-color 0.3s ease;
  margin-bottom: 35px;
  padding-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .form .input {
    font-size: 1.4rem;
  }
}
.form .input:last-child {
  margin-bottom: 30px;
}
.form .input::-webkit-input-placeholder {
  color: #636466;
}
.form .input:-moz-placeholder {
  color: #636466;
}
.form .input::-moz-placeholder {
  color: #636466;
}
.form .input:-ms-input-placeholder {
  color: #636466;
}
.form .input:focus {
  border-bottom-color: #636466;
}
.form .input-white {
  color: #fff;
  border-bottom-color: #e9adab;
}
.form .input-white::-webkit-input-placeholder {
  color: #fff;
}
.form .input-white:-moz-placeholder {
  color: #fff;
}
.form .input-white::-moz-placeholder {
  color: #fff;
}
.form .input-white:-ms-input-placeholder {
  color: #fff;
}
.form .input-white:focus {
  border-bottom-color: #e4e4e5;
}
.form textarea {
  resize: none;
}
.form-white {
  margin-top: 100px;
}
@media only screen and (max-width: 767px) {
  .form-white {
    margin-top: 50px;
  }
}

.dropDownForm {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f15a55;
  background-image: url(../images/balonas.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .dropDownForm {
    background-image: none;
    background-color: rgba(241, 90, 85, 0.95);
  }
}
.dropDownForm .wrapper {
  padding: 16.5px 0;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .dropDownForm .header__logo {
    display: none;
  }
}

.contactBubbleWrapper {
  width: 490px;
  height: 525px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .contactBubbleWrapper {
    width: 250px;
    height: 360px;
  }
}
.contactBubbleWrapper .infoBubble-text {
  font-size: 3.6rem;
  line-height: 5rem;
  font-family: 'Futura-demi', sans-serif;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .contactBubbleWrapper .infoBubble-text {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.dropDownFormOpen {
  display: block;
}

.submit {
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #f15a55;
  text-transform: uppercase;
  padding: 21px 0;
  width: 140px;
  text-align: center;
  float: right;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 767px) {
  .submit {
    width: 100%;
    font-size: 1.1rem;
    padding: 14.5px 0;
  }
}
.submit:hover {
  background-color: #df524d;
  cursor: pointer;
}
.submit-grey {
  background-color: #636466;
}
.submit-grey:hover {
  background-color: #505153;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  80% {
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    transform-origin: center;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes mouse {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  80% {
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    transform-origin: center;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
